/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* LAYOUT */
.container{
    margin: 0 auto;
}


.col {
    width: calc(100% / 6);
    padding: 20px;
}
.col-1-3 {
	width: calc(100% / 3);
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* header layout */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    position: fixed;
    width: 100%;
    z-index: 999;
    
}

header>.container {
    position: relative;
}

nav>ul {
    display:flex;

}

/* main */

.card {
    padding: 120px 8px 0;
    
}

main .row {
    padding-left: 20px;
    padding-right: 20px;
}

.card__product {
    position: relative;
}


.discount {
    background-color: red;
    color: white;
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 0;
    padding: 4px;
    z-index: 50;
}

.sostenibile {
    background-color: green;
    color: white;
    position: absolute;
    top: 80%;
    left: 10%;
    padding: 4px;
    z-index: 50;
}

.sostenibile__only {
    background-color: green;
    color: white;
    position: absolute;
    top: 80%;
    left: 0;
    padding: 4px;
    z-index: 50;
}

.like {
    background-color: white;
    color: black;
    font-size: 32px;
    position: absolute;
    display: inline-block;
    top: 2%;
    right: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 50;
    
}

.card:hover .like {
    opacity: 1;
}

.absolute {
    position: absolute;
    display: block;
}


.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline;
    opacity: 0;
}

.card__product:hover .hover {
    opacity: 1;
}

.card__caption {
    position: absolute;
}


/* style */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caption {
    color: gray;
}

.card__price {
    font-weight: 600;
}

.red__price {
    color: red;
}

.black__price {
    text-decoration: line-through;
    padding-left: 8px;
}



















/* DEBUG */

.debug .container {
    border: 2px solid black;
    
}

.debug .row {
    border: 2px solid red;

}

.debug .col {
    background-color: blueviolet;
    border: 2px solid blue;

}

