/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* LAYOUT */
.col {
    width: calc(100% / 6);
}


/* header layout */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    position: fixed;
    width: 100%;
}

header>.container {
    position: relative;
}

nav>ul {
    display:flex;

}

/* DEBUG */

.debug .container {
    border: 2px solid black;
    
}

.debug .row {
    border: 2px solid red;
    padding: 0 20px;

}

.debug .col {
    background-color: blueviolet;
    border: 2px solid blue;
    padding: 20px;
}

main>.container {
    display: flex;
    justify-content: space-around;
    
}